{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-6">
        <p id="demo">Click the button to change the text in this paragraph.</p>

<button onclick="myFunction()">Try it</button>

            <form method="POST" action="{% url 'checkout'%}">
                {% csrf_token %}

                {{checkoutorder_form|crispy}}
                <input type="submit"/>

            </form>
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>


{%endblock%}