{% extends "base.html" %}
{% load static %}
{% block additionalcss %}
{% load bag_tools %}

    <link rel="stylesheet" href="{% static 'checkout/css/stripe_element.css' %}">

{% endblock %}

{% block content %}
    <div class="container">
        <section class="breadcrumb breadcrumb_bg">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                    <p>Home / checkout</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
    <section class="checkout_area section_padding">
    <div class="container">
      <div class="returning_customer">
        <div class="check_title">
          <h2>
            Have an account?
            <a href="{% url 'account_login' %}?next={{request.path}}">Click here to login</a>
          </h2>
        </div>
      </div>
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing | Shipping Details</h3>
            <form method="POST" action="{% url 'checkout'%}" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                  
                    {{ checkoutorder_form.full_name | as_crispy_field }}
                    {{ checkoutorder_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    
                        {{ checkoutorder_form.phone_number | as_crispy_field }} 
                        {{ checkoutorder_form.address_1 | as_crispy_field }}
                        {{ checkoutorder_form.address_2 | as_crispy_field }}
                        {{ checkoutorder_form.city | as_crispy_field }}
                        {{ checkoutorder_form.state | as_crispy_field }}
                        {{checkoutorder_form.postcode | as_crispy_field }}
                        {{ checkoutorder_form.country | as_crispy_field }} 
                </fieldset>

                <div id="card-element">
                        <!-- Elements will create input elements here -->
                </div>

                <!-- We'll put the error messages in this element -->
                <div id="card-errors" role="alert"></div>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                <div class="col-md-12 form-group">
                    <div class="creat_account">
                        <p>
                            Create an account?
                            <a href="{% url 'account_signup' %}?next={{request.path}}">Click here to Sign-up</a>
                        </p>
                    </div>
                </div>
                <input id="submit-button" type="submit"/>
                <input id="client_secret" type="hidden" data-secret="{{ client_secret }}">
                <input id="stripe_public_key" type="hidden" data-public_key="{{ stripe_public_key }}">
                <input id="order" type="hidden" data-order="{{ order }}">

            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Shopping Bag</h2>
              <ul class="list">
             
                <li>
     
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
            {% for itm in bag_obj.order_line_items.all%}
                <li>
                  <a href="#"> {{itm.product.name}} - Qty {{itm.quantity}}
                    <!-- <span class="middle">  {{itm.quantity}}</span> -->
                    <span class="last">${{itm.product.price | calc_subtotal:itm.quantity}}</span>
                  </a>
                </li>
            {% endfor %}
              </ul>
              <ul class="list list_2">
                <!-- <li>
                  <a href="#">Subtotal
                    <span>$2160.00</span>
                  </a>
                </li> -->
                <li>
                  <a href="#">Shipping
                    <span>Flat rate: $4.99</span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                    <span>${{bag_obj.total | calc_delivery:4.99 |floatformat:2}}</span>
                 
                  </a>
                </li>
              </ul>
              <a class="btn_3" href="#">Proceed to Secure Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
 <div id="loading">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
   </h1>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    


{%endblock%}