@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700&display=swap");

html, body {
    width: 100%;
    height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #f4f4f4;
}

.main_menu .navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0px;
}

/* menu. */
.main_menu .navbar {
  padding: 0px;
}

.main_menu .main-menu-item ul li .nav-link {
  color: #000;
  font-size: 14px;
  padding: 35px 25px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
}

.main_menu .main-menu-item ul li .nav-link:hover {
  color: #000;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main_menu .main-menu-item ul li .nav-link {
    padding: 35px 20px;
  }
}

.main_menu #search_1 i {
  color: #000;
}

.main_menu #search_input_box {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1140px;
  z-index: 999;
  text-align: center;
  background: #2f7dfc;
}

.main_menu #search_input_box ::placeholder {
  color: #fff;
}

@media (max-width: 991px) {
  .main_menu #search_input_box {
    margin-top: 15px;
  }
}


.main_menu #search_input_box .form-control {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
}

.main_menu #search_input_box .btn {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.main_menu #search_input_box .ti-close {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  padding-right: 0;
}


.main_menu .search-inner {
  padding: 5px 5px;
}

.main_menu .form-control:focus {
  box-shadow: none;
}


.main_menu .active_color {
  color: #f5790b !important;
}


.main_menu a i {
  color: #000;
  position: relative;
  z-index: 1;
  font-size: 15px;
  margin-left: 30px;
}


.main_menu .cart .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border: 0px solid transparent;
}


.main_menu .cart i {
  color: #000;
  position: relative;
  z-index: 1;
  font-size: 15px;
}

.main_menu .cart i:after {
  position: absolute;
  border-radius: 50%;
  background-color: #2f7dfc;
  width: 14px;
  height: 14px;
  right: -8px;
  top: -8px;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  color: #fff;
}

.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
  background-color: #fff;
}

.menu_fixed .active_color {
  color: #2f7dfc !important;
}


.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: #2f7dfc;
}

.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 8px 20px !important;
  color: #fff !important;
  background-color: #2f7dfc;
  text-transform: capitalize;
}

.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

@media (max-width: 991px) {
  .main_menu {
    padding: 26px 0px;
  }

  .home_menu .main-menu-item {
    padding-left: 0px;
  }

  .main_menu .main-menu-item {
    text-align: left !important;
  }

  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important;
  }

  .main_menu .main-menu-item .nav-item .nav-link {
    padding: 5px 15px !important;
    color: #000;
  }

  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }

  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }

  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
    color: #2f7dfc;
  }
 
  .dropdown .dropdown-item:hover {
    color: #2f7dfc !important;
  }
 
  .navbar-brand img {
    max-width: 100px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    top: 0;
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
    position: absolute;
    left: 0;
  }
  
  .menu_icon i {
    color: #000;
  }
 
  .main_menu a i {
    margin-left: 13px;
  }
}

@media (max-width: 576px) {

  .main_menu {
    padding: 20px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  .main_menu {
    padding: 20px 0px;
  }
}


.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}


.dropdown:hover .dropdown-menu {
  display: block;
}


.main-menu-item {
  justify-content: center !important;
}
/**menu end **/

/**section**/
.section_padding {
  padding: 140px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_padding {
    padding: 100px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_padding {
    padding: 70px 0px;
  }
}

@media (max-width: 576px) {
  .section_padding {
    padding: 70px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_padding {
    padding: 70px 0px;
  }
}

/** banner **/
.banner_part {
  position: relative;
  background-color: #dde5e8;
  background-image: url('/media/homeimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_part .single_banner_slider .banner_text {
  display: table;
  width: 100%;
  height: 820px;
}

.banner_part .single_banner_slider .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 991px) {
  .banner_part .single_banner_slider .banner_text {
    height: 550px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner_part .single_banner_slider .banner_text {
    height: 650px;
  }
}

.banner_part .single_banner_slider .banner_text h5 {
  font-size: 24px;
  letter-spacing: 2px;
}

@media (max-width: 991px) {
  .banner_part .single_banner_slider .banner_text h5 {
    font-size: 18px;
  }
}

.banner_part .single_banner_slider .banner_text h1 {
  font-size: 100px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 110px;
  margin: 17px 0 49px;
}

@media (max-width: 576px) {
  .banner_part .single_banner_slider .banner_text h1 {
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .banner_part .single_banner_slider .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner_part .single_banner_slider .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner_part .single_banner_slider .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

.banner_part .single_banner_slider .banner_text h1 span {
  color: #2f7dfc;
}

.banner_part .single_banner_slider .banner_text p {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 70px;
  padding-right: 80px;
}

@media (max-width: 991px) {
  .banner_part .single_banner_slider .banner_text p {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  
  .banner_part .single_banner_slider .banner_text p {
    padding-right: 0;
  }
}

.banner_part .single_banner_slider .banner_img {
  position: absolute;
  right: 0;
  top: 30%;
}

.banner_part .owl-nav {
  position: absolute;
  right: -20%;
  bottom: 0;
  padding: 35px 80px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .banner_part .owl-nav {
    right: 0;
    padding: 20px 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner_part .owl-nav {
    right: 0;
    padding: 20px 40px;
  }
}

.banner_part .owl-nav .owl-prev,
.banner_part .owl-nav .owl-next {
  text-transform: capitalize;
  margin: 0 15px !important;
  font-weight: 700 !important;
}


.banner_part .owl-nav .owl-prev {
  position: relative;
}


.banner_part .owl-nav .owl-prev:after {
  position: absolute;
  right: -17px;
  top: 3px;
  width: 1px;
  height: 16px;
  content: "";
  background-color: #000;
}

.banner_part .btn_2 {
  box-shadow: none;
}

@media (max-width: 991px) {
  .banner_part .btn_2 .btn_2 {
    margin-top: 15px;
  }
}

.banner_part .slider-counter {
  font-size: 100px;
  font-weight: 700;
  color: #cde8eb;
  position: absolute;
  right: -16%;
  top: 38%;
}

@media (max-width: 991px) {
  .banner_part .slider-counter {
    font-size: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner_part .slider-counter {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .banner_part {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner_part .banner_img img {
    max-width: 75%;
    float: right;
  }
}
/**banner ends **/

/** home page arrivals**/

.arrival_tittle, .arrival_filter_item {
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .arrival_tittle, .arrival_filter_item {
    margin-bottom: 30px;
  }
}

.arrival_tittle h2, .arrival_filter_item h2 {
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .arrival_tittle h2, .arrival_filter_item h2 {
    font-size: 30px;
  }
}

.arrival_tittle ul li, .arrival_filter_item ul li {
  font-size: 16px;
  color: #000;
  text-transform: capitalize;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 35px;
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 991px) {
  .arrival_tittle ul li, .arrival_filter_item ul li {
    margin-left: 0;
    margin-right: 30px;
  }
}

.new_arrival .col-lg-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
  overflow: hidden;
}

@media (max-width: 991px) {
  .new_arrival .col-lg-12 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.new_arrival .new_arrival_iner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new_arrival .new_arrival_iner .wdt {
  flex: 28% 0 0;
  max-width: 28%;

}

@media (max-width: 576px) {
  .new_arrival .new_arrival_iner .wdt {
    flex: 100% 0 0;
    max-width: 100%;
  }
}


.new_arrival .single_arrivel_item {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 991px) {
  .new_arrival .single_arrivel_item {
    margin-bottom: 15px;
  }
}


.new_arrival .single_arrivel_item img {
  width: 100%;
  max-height: 550px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.new_arrival .single_arrivel_item .hover_text {
  position: absolute;
  top: 28%;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.new_arrival .single_arrivel_item .hover_text p {
  font-size: 16px;
  color: #fff;
  letter-spacing: 2;
  text-shadow: 1px 1px black;
}

.new_arrival .single_arrivel_item .hover_text h3 {
  font-size: 30px;
  color: #fff;
  margin: 2px 0 14px;
  text-shadow: 1px 1px black;

}

@media (max-width: 991px) {
  .new_arrival .single_arrivel_item .hover_text h3 {
    font-size: 20px;
    margin: 2px 0 8px;
  }
}

.new_arrival .single_arrivel_item .hover_text .rate_icon i {
  color: #ffe400 !important;
}


.new_arrival .single_arrivel_item .hover_text h5 {
  font-size: 24px;
  color: #fff;
  margin: 18px 0 26px;
  text-shadow: 1px 1px black;

}

@media (max-width: 991px) {
  .new_arrival .single_arrivel_item .hover_text h5 {
    font-size: 20px;
    margin: 2px 0 8px;
  }
}

.new_arrival .single_arrivel_item .hover_text .social_icon a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 7px;
}

.new_arrival .single_arrivel_item .hover_text .social_icon a:hover {
  background-color: #2f7dfc;
  color: #fff;
}

.new_arrival .single_arrivel_item:hover:after {
  opacity: .7;
  visibility: visible;
}

.new_arrival .single_arrivel_item:hover .hover_text {
  top: 31%;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 991px) {
  .new_arrival .single_arrivel_item:hover .hover_text {
    top: 20%;
  }
}

.new_arrival .single_arrivel_item:hover img {
  transform: scale(1.1);
}

.new_arrival .active {
  position: relative;
  z-index: 1;
  color: #2f7dfc;
}

.new_arrival .active:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #2f7dfc;
}


/** products **/
.cat_product_area .btn_2 {
  border: 1px solid #606060;
  color: #606060;
  margin-top: 80px;
}
.sec-hd{
    font-size: .875rem
}
.lft_widgets {
  margin-bottom: 30px;
}

.lft_widgets:last-child {
  margin-bottom: 0px;
}

.lft-widget-inner p {
  font-size: 14px;
  text-transform: capitalize;
  color: #000;
  font-weight: 400;
  margin-bottom: 20px;
}
.prdct_padding{
    padding: 50px;
}
.lft-widget-inner input[type=checkbox], .lft-widget-inner input[type=radio] {
  margin-right: 15px;
}

.lft-widget-inner {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 15px;
}

@media (max-width: 991px) {
  .lft-widget-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991px) {
  .sec-title {
    padding-left: 0;
    padding-right: 0;
  }
}

.sec-title h3 {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #2a2a2a;
  font-weight: 500;
  line-height: 40px;
  position: relative;
  background-color: #e8f0f2;
  padding: 10px 15px 10px 30px;
  text-transform: uppercase;
}
.cat-list li a {
    font-size: 14px;
    font-weight: normal;
    color: #606060;
    cursor: pointer;
    position: relative;
}
.myaside .cat-list li{
    margin-bottom: 18px;
    -webkit-transition: 0.5s;
    transition: 0.5s;

}

.single_product {
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
}

.single_product img {
  width: 100%;
}


.single_product .category_social_icon {
  position: absolute;
  bottom: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single_product .category_social_icon a {
  width: 50px;
  height: 50px;
  display: inherit;
  background-color: #2f7dfc;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  margin-top: 5px;
}

.single_product:hover .category_social_icon {
  position: absolute;
  right: 11px;
  bottom: 100px;
  visibility: visible;
  opacity: 1;
}


.single_product .category_product_text {
  text-align: center;
  margin-top: 23px;
}

.single_product .category_product_text h5 {
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
}

.single_product .category_product_text p {
  font-size: 18px;
  font-weight: 600;
  color: #606060;
}

/** btn **/
.btn_3 {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 50px;
  background-color: #2f7dfc;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}



.btn_3:hover {
  color: #fff;
  background-color: #2F7E84;
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
 
}

.btn_white{
    color: #fff !important;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus{
    background: #222;
    color: white;
}

.logo-size{
    font-size: 2rem;
    text-shadow: 2px 2px #fff;
}
/** shoping bag**/
.cart_inner .table {
  margin-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}


.cart_inner .table thead tr th {
  border-top: 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #797979;
  border-bottom: 0px !important;
}

.cart_inner .table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}

.cart_inner .table tbody tr td .media .d-flex {
  padding-right: 30px;
}


.cart_inner .table tbody tr td .media .d-flex img {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  max-width: 150px;
}

.cart_inner .table tbody tr td .media .media-body {
  vertical-align: middle;
  align-self: center;
}

.cart_inner .table tbody tr td .media .media-body p {
  margin-bottom: 0px;
}

.cart_inner .table tbody tr td h5 {
  font-size: 14px;
  color: #2a2a2a;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
}

.cart_inner .table tbody tr td .product_count {
  margin-bottom: 0px;
}

.cart_inner .table tbody tr td .product_count input {
  width: 100px;
  padding-left: 30px;
  height: 50px;
  outline: none;
  box-shadow: none;
}
/** btns **/
.rmbtn{
    padding: 0px;
    cursor: pointer;
}

/** checkout **/

.check_title h2 {
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  background: #f4f4f4;
  line-height: 40px;
  padding-left: 30px;
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .check_title h2 {
    line-height: 17px;
    padding: 12px;
  }
}

.check_title h2 a {
  color: #2f7dfc;
  text-decoration: underline;
}

/* checkout order box */
.order_box {
  background: #f4f4f4;
  padding: 30px;
}

.order_box h2 {
  border-bottom: 1px solid #dddddd;
  font-size: 18px;
  font-weight: 500;
  color: #2a2a2a;
  padding-bottom: 15px;
}
.order_box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.order_box .list li a {
  font-size: 14px;
  color: #797979 !important;
  font-weight: normal;
  border-bottom: 1px solid #eeeeee;
  display: block;
  line-height: 42px;
}
.order_box .list li a span {
  float: right;
}


.order_box .list_2 li a {
  text-transform: uppercase;
  color: #2a2a2a;
  font-weight: 500;
}

.order_box .list_2 li a span {
  color: #797979;
  text-transform: capitalize;
}

.order_box .list_2 li:last-child a span {
  color: #2a2a2a;
}

.order_box .btn_3 {
  display: block;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 991px) {
 
  .order_box .btn_3 {
    padding: 9px 34px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .order_box .btn_3 {
    padding: 9px 34px;
  }
}

/* allauth */
.sec-heading{
    padding-top: 50px;
}

.auth-btn{
  background-color: #2f7dfc;
  border: 1px solid #f4f4f4;
  color: #fff;
}
.auth-btn:hover,
.auth-btn:active,
.auth-btn:focus {
    background: #2f7dfc;
    color: #fff !important;
}


.allauth-customised-content p {
    margin-top: 1.5rem; 
    color: #6c757d; 
}


.allauth-customised-content button,
.allauth-customised-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2f7dfc;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-customised-content button:hover,
.allauth-customised-content input[type='submit']:hover {	
	color: #fff;
    background-color: #2f7dfc;
    border-color: #2f7dfc;
}

/* order confrimation  */

.confirmation_part .confirmation_tittle {
  text-align: center;
  margin-bottom: 35px;
}

.confirmation_part .confirmation_tittle span {
  color: #2f7dfc;
}

.confirmation_part .single_confirmation_details {
  background-color: #f4f4f4;
  padding: 35px 40px;
}

@media (max-width: 991px) {
  .confirmation_part .single_confirmation_details {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .confirmation_part .single_confirmation_details {
    margin-bottom: 30px;
  }
}

.confirmation_part .single_confirmation_details h4 {
  font-size: 18px;
  font-weight: 500;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.confirmation_part .single_confirmation_details ul li {
  position: relative;
  text-transform: capitalize;
  padding-left: 55%;
  margin-bottom: 3px;
}

.confirmation_part .single_confirmation_details ul li p {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 21px;
  color: #777777;
}

.confirmation_part .single_confirmation_details ul li span {
  color: #222222;
}

.confirmation_part .order_details_iner {
  margin-top: 50px;
  background-color: #f4f4f4;
  padding: 30px 30px 15px;
  text-transform: capitalize;
}

.confirmation_part .order_details_iner h3 {
  font-size: 18px;
}

.confirmation_part .order_details_iner .table thead th {
  color: #222222;
  font-size: 16px;
}

.confirmation_part .order_details_iner span {
  color: #777777;
}

.confirmation_part .order_details_iner thead {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.confirmation_part .order_details_iner tfoot {
  border-top: 1px solid #dddddd;
}

.confirmation_part .order_details_iner th {
  font-weight: 500;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.msg_btn{
    background: #2f7dfc;
    color: #fff;
}

/*  links */
.scrl-btn {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.scrl-btn-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.border-blue {
    border: 1px solid #2f7dfc;
}

.text-black {
        font-size: 2rem;
}


.btn-chkout{
     background-color: #2f7dfc;
     color: white;
     border-radius: 15px;
}

.btn-chkout:hover {
  color: #2f7dfc;
  background-color: #fff;
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
 
}

a {
    color: #666;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    font-weight: 400;
}

.navbar-brand img {
    max-width: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: inline-block;
    top: 0;
  }

@media (max-width: 991px){
.navbar-brand img {
    max-width: 100px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    top: -33px;
}
}

.breadcrumb .breadcrumb_iner p {
    font-size: 15px;
    color: #777777;
}
p {
    font-family: "Roboto", sans-serif;
    line-height: 2;
    font-size: 15px;
    color: #606060;
    font-weight: 400;
}

 .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

.btn.btn-outline-black.rounded-0.btn-lg,
.btn.btn-black.rounded-0.btn-lg {
    padding: .375rem .375rem;
    font-size: .75rem;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.single_arrivel_item  a:hover{
    text-decoration: none !important;
}

.single-prdct-wrapper{
    position: relative;
}
.wishlist {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wishlist {
    pointer-events: visible;
    opacity: 1;
}

.like_us {
    opacity: 1;
    transform: none;
}
.like_us {
    background: #fff;
    border-radius: 50%;
    height: unset;
    padding: 7px 7px 5px;
    margin: 10px 10px 0 0;
}
.like_us:hover {
  cursor: pointer;
  color: #2f7dfc;
} 
.heart-prdct{
    color: red;
}

.prdct-link {
    color: #666;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    font-weight: 400;
}

.prdct-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.home-heart-product{
    background: grey !important;
    border-radius: 50%;
    height: unset;
    padding: 7px 7px 5px;
    margin: 10px 10px 0 0;
    font-size: 22px !important;
}

.home-heart-product:hover{
  cursor: pointer;
  color: #2f7dfc;
} 

.footer_part {
  background-color: #000;
  padding: 140px 0 25px;
}

@media (max-width: 991px) {
  .footer_part {
    padding: 70px 0 25px;
  }
}


@media (max-width: 576px) {
  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_part .single_footer_part {
    margin-bottom: 20px;
  }
}


.footer_part .single_footer_part .social-links a {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #1a1a1a;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  padding-top: 16px;
}

.footer_part .single_footer_part .social-links a:hover {
  background-color: #fff;
  color: #1a1a1a;
}


.footer_part .single_footer_part .list-unstyled li a {
  color: #fff;
  margin-bottom: 14px;
  display: inline-block;
}

.footer_part .single_footer_part .list-unstyled li a:hover {
  color: #2f7dfc !important;
}

.footer_part .single_footer_part .mail_part {
  position: relative;
  display: flex;
  margin-top: 20px;
}

.footer_part .single_footer_part .mail_part input {
  padding: 14px 15px;
  font-size: 13px;
  border-radius: 0;
  border: 1px solid #2f7dfc;
  width: 80%;
  background-color: transparent;
  color: #fff;
}

.footer_part .single_footer_part .mail_part .email_icon {
  background-color: #2f7dfc;
  text-align: center;
  color: #fff;
  border-radius: 0;
  line-height: 10px;
  border: 2px solid #2f7dfc;
  text-transform: capitalize;
  padding: 14px 20px;
  height: 50px;
}

.footer_part .info {
  color: red !important;
}

.footer_part .single_footer_part h4 {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 576px) {
  .footer_part .single_footer_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer_part .single_footer_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_part .single_footer_part h4 {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer_part .single_footer_part h4 {
    font-size: 19px;
  }
}

.center{
    margin: auto;
}
.postion-update{
    text-align: center;
}

.flx-con {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}
