{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}

    <section class="breadcrumb breadcrumb_bg">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                      <div class="breadcrumb_iner_item">
                          <p>Home/Shop/Single product/Cart list</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
   <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        {% if bag.order_line_items.exists %}
            <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Sub-Total</th>
                </tr>
                </thead>
                <tbody>
                {% for itm in bag.order_line_items.all%}
                <tr>
                    <td>
                    <div class="media">
                        <div class="d-flex">
                        <img src="{{itm.product.image.url}}" alt="{{itm.product.name}}" />
                        </div>
                        <div class="media-body">
                        <p>{{itm.product.name}}</p>

                        {%if itm.product_size %}
                            <p> Size:{{itm.product_size}}</p>
                        {% else %}
                        <p> Size : N/A</p>
                       {% endif %}
                       {% include "products/update_bag.html" with product=itm bag=bag in_bag=True %}
                        </div>
                    </div>
                    </td>
                    <td>
                    <h5>${{itm.product.price}}</h5>
                    </td>
                    <td>
                    <div class="product_count">
                        <!-- <p> {{itm.quantity}}</p> -->
                        <form>
                            {% csrf_token %}
                            <div class="form-group d-flex">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ itm.id }}" id="decrement-qty_{{ itm.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control quantity_input" type="number"
                                            name="quantity" value="{{itm.quantity}}" min="1" max="50"
                                            data-item_id="{{ itm.id }}"
                                            id="id_qty_{{ itm.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn  rounded-0"
                                                data-item_id="{{ itm.id }}" id="increment-qty_{{ itm.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                    </td>
                    <td>
                    <h5>${{itm.product.price | calc_subtotal:itm.quantity}}</h5>
                    </td>
                </tr>
                {% endfor %}
                <tr class="bottom_button">
                    <td>
                    <a class="btn_3" href="#">Continue Shopping</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                    <div class="cupon_text float-right">
                        <a class="btn_3" href="#">Proceed to Secure Checkout</a>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                    <h5>Delivery</h5>
                    </td>
                    <td>
                    <h5>${{settings.DELIVERY_PERCENT}}</h5>
                    </td>
                </tr>
                <tr class="">
                    <td></td>
                    <td></td>
                    <td>
                    <h5>Grand total</h5>
                    </td>
                     <td><h5>${{bag.total}}</h5></td>
                </tr>
                </tbody>
            
            </table>
            
            <div class="checkout_btn_inner float-right">
                <!-- <a class="btn_1" href="#">Continue Shopping</a> -->
                <a class="btn_1 checkout_btn_1" href="">Proceed to secure checkout</a>
            </div>
            </div>
            {% else %}
                <div class="mx-auto" style="width: 200px;">
                    <p> Shopping Bag is Empty</p>
                    <a href="{% url 'home'%}" class="btn_3"> Back to Home</a>
                </div>
        {% endif %}
      </div>
  </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>

       // Disable +/- buttons outside the range of 1-50
   function handleEnableDisable(itemId) {
        let currentValue = parseInt($(`#id_qty_${itemId}`).val());
        let minusDisabled = currentValue < 2;
        let plusDisabled = currentValue > 50;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Update quantity on click
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        let qtyInput = $(this).closest('.input-group').find('.quantity_input')[0];
        let currentValue = parseInt($(qtyInput).val());
        $(qtyInput).val(currentValue + 1);
        let itemId = $(this).data('itm.id');
        handleEnableDisable(itemId);
        // let form = $(this).prev('.update-form');
        // form.submit();
    });

    
      // Decrement quantity on click
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       let qtyInput = $(this).closest('.input-group').find('.quantity_input')[0];
       let currentValue = parseInt($(qtyInput).val());
       $(qtyInput).val(currentValue - 1);
       let itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
       console.log(itemId)
    });


    </script>
{% endblock %}