{% extends "base.html" %}
{% load static %}

{% block content %}
        <section class="cat_product_area prdct_padding border_top">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if search_word %}
                        <p> {{searchcount}} Product(s) available for your search "{{search_word}}"</p>
                    {% endif %}
                </div>
                <div class="col">{% for category in categories %}
                    <a class="text-decoration-none" href="{% url 'products' %}?cat={{ category.name }}">
                        <span class="p-2 mt-2 badge  rounded-2 border border-light">{{ category.name }}</span>
                    </a>
                {% endfor %}</div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="lft_widgets p_filter_widgets myaside sidebar_box_shadow">
                            <div class="sec-title">
                                <h3>Browse Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <h5 class="sec-hd sidebar_box_shadow">
                                    <a {%for product in products%}{%if product.gender == "woman"%} href="{% url 'products' %}?gender=woman"{%else%} href="{% url 'products' %}?gender=man"{%endif%}{%endfor%}>All Products /</a>
                                </h5>
                                <hr>
                                 
                                <ul class="list list-unstyled cat-list">
                                    <li class="{%for product in products%}{%if product.gender != 'woman'%}d-none {%else%}d-block{%endif%}{%endfor%}">
                                        <a href="{% url 'products' %}?cat=dresses&gender=woman">Dresses</a>
                                    </li>
                                    <li class="{%for product in products%}{%if product.gender != 'woman'%}d-none {%else%}d-block{%endif%}{%endfor%}">
                                        <a href="{% url 'products' %}?cat=tops&gender=woman">Tops</a>
                                    </li>
                                    <li>
                                        <a {%for product in products%}{%if product.gender == "woman"%} href="{% url 'products' %}?cat=new_arrivals&gender=woman"{%else%} href="{% url 'products' %}?cat=new_arrivals&gender=man"{%endif%}{%endfor%}>New Arrivals</a>
                                    </li>
                                   
                                    <li>
                                        <a {%for product in products%}{%if product.gender == "woman"%} href="{% url 'products' %}?cat=shirts&gender=woman"{%else%} href="{% url 'products' %}?cat=shirts&gender=man"{%endif%}{%endfor%}>Shirts</a>
                                    </li>
                                    
                                    <li>
                                        <a {%for product in products%}{%if product.gender == "woman"%} href="{% url 'products' %}?cat=jeans&gender=woman"{%else%} href="{% url 'products' %}?cat=jeans&gender=man"{%endif%}{%endfor%}>Jeans</a>

                                    </li>
                                    <li>

                                        <a {%for product in products%}{%if product.gender == "woman"%} href="{% url 'products' %}?cat=shoes&gender=woman"{%else%} href="{% url 'products' %}?cat=shoes&gender=man"{%endif%}{%endfor%}>Shoes</a>
                                        
                                    </li>
                                </ul>
                           
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu product_bar_item">
                                    {% for cat in categories%}
                                    <h2></h2>
                                    {% endfor %}
                                </div>
                                <div class="product_top_bar_iner product_bar_item d-flex">
                                    <div class="product_bar_single">
                                        <select class="wide" id="sort-box">
                                            <option value="default" {% if sorting == 'None_None' %}selected{% endif %}>Suggested</option>
                                            <option value="price_asc" {% if sorting == 'price_asc' %}selected{% endif %}>Price(High)</option>
                                            <option value="price_desc" {% if sorting == 'price_desc' %}selected{% endif %}>Price(Low)</option>
                                            <!-- <option value="promtions_asc" {% if sorting == 'promtions_asc' %}selected{% endif %}>Sales(High)</option>
                                            <option value="promotions_desc" {% if sorting == 'promotions_desc' %}selected{% endif %}>Sales(Low)</option> -->

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%for product in products%}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product">
                                <div class="single_category_img">
                                    <a href="{% url 'single_product' product.id%}">
                                        <img src="{{ product.image.url }}" alt="{{product.name}}">
                                    </a>
                                    <div class="category_social_icon wishlist">
                                        <ul class="list-unstyled mt-4 {% if request.user.is_authenticated%} d-block {%else%} d-none{%endif%}">
                                            {%if product.id in current_user_prdct_id%}
                                                <span class="like like_us heart-prdct" id="id" attr_id="{{ product.id}}" action_url="{% url 'add_to_wishlist' %}"><i class="fas fa-heart"></i></span>
                                                
                                            {%else%}
                                                <span class="like like_us" id="id" attr_id="{{product.id}}" action_url="{% url 'add_to_wishlist' %}"><i class="fa fa-heart"></i></span>
                                            {%endif%}
                                        </ul>
                                    </div>
                                    <div class="category_product_text">
                                        <a class="prdct-link" href="{% url 'single_product' product.id%}"><h5>{{product.name}}</h5></a>
                                        <p>${{product.price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </section>
        <div class="scrl-btn shadow-sm rounded-0 border border-blue">
            <a class="scrl-btn-link d-flex h-100">
                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
            </a>	
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/product_sort_direction.js' %}"></script>
        <script type="text/javascript">
            $('.scrl-btn-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
        <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');


        $(document).ready(function(){
            $(".like").click(function(){
                var attr_id = $(this).attr('attr_id')
                var action_url = $(this).attr('action_url')
                var that = $(this)

                $.ajax({
                    url: action_url,
                    type: "POST",
                    data: {'attr_id': attr_id },
                    headers: { "X-CSRFToken": csrftoken },
                    success: function (result) {
                        console.log("Success")
                        that.toggleClass("heart-prdct");
                    },
                    error: function () {
                        alert("Please login");
                    }
                    
                });
            });
    });

    </script>
{% endblock %}